@font-face {
    font-family: 'Corporate Logo Rounded Bold ver3';
    src: url('font/Corporate Logo Rounded Bold ver3.woff2') format('woff2'),
         url('font/Corporate Logo Rounded Bold ver3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Corporate Logo Rounded Bold ver3', sans-serif;
    color: white; 
    background-color: black; 
}

#introMovie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#movie {
    width: 100%;
    height: 100%;
}

#mainContent {
    opacity: 0;
    transition: opacity 2s;
}

#navAndTitle {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleLogo {
    width: 200px;
    height: auto;
}

#navList {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 70px;
}

#navList li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#navList li a:hover {
    color: gold; 
}

#slideshow {
    position: relative;
    width: 1250px;
    height: 750px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#storeInfoImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    max-width: 80%; /* 画面の80%を最大幅と設定 */
    max-height: 80%; /* 画面の80%を最大高さと設定 */
}
